* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: auto;
  font-family: "Inter";
  margin: 0;
  border: 0;
  font-optical-sizing: auto;
  background-color: hsla(240, 11%, 96%, 0.8);
  padding-bottom: 100px;
}

.header {
  width: 100%;
  height: 44px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-size: 12px;
  font-weight: 300;
  line-height: 60px;
  letter-spacing: -0.28px;
  background-color: hsla(240, 11%, 96%, 0.8);
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 24px;
  margin-left: 24px;
}

.icons img[alt="menu"] {
  display: none;
}

.sumstuff {
  width: 100%;
  background-color: #fff;
  padding: 16px 0;
}

.sumstuff p {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.herorgbbdr img[alt="heroborder"] {
  width: 100%;
  height: auto;
}

.heroheader {
  display: flex;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 140px;
}

.header-text {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.header-text h1 {
  font-size: 44px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: 0;
  margin: 0;
  color: transparent;
  background-clip: text;
  background: #0090f7;
  background: linear-gradient(
    90deg,
    rgba(0, 144, 247, 1) 0%,
    rgba(186, 98, 252, 1) 50%,
    rgba(242, 65, 107, 1) 100%
  );
  -webkit-background-clip: text;
}

.header-text h2 {
  font-size: 44px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: 0;
  margin: 0;
  color: #6e6e73;
}

.shoppinghelp {
  display: flex;
  gap: 16px;
}

.shoppinghelp img {
  width: 35px;
  height: 35px;
}

.storehelp {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.storehelp-chat {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.storehelp-chat h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
}
.storehelp-chat h4 {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin: 0;
  color: #0066cc;
  text-decoration: underline;
}

.productsection {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.product {
  display: flex;
  flex-direction: column;
  width: 136px;
  padding: 16px 8px;
  gap: 16px;
  border-radius: 18px;
}

.product img {
  width: 128px;
  height: 78px;
}

.product h6 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  text-align: center;
}

.body-prod {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.latest {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding-left: 140px;
  padding-right: 140px;
  gap: 24px;
  overflow: hidden;
}

.latest-header {
  display: flex;
  gap: 4px;
  align-items: center;
}
.latest-header h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: 0;
  margin: 0;
  color: transparent;
  background-clip: text;
  background: #0090f7;
  background: linear-gradient(
    90deg,
    rgba(0, 144, 247, 1) 0%,
    rgba(186, 98, 252, 1) 50%,
    rgba(242, 65, 107, 1) 100%
  );
  -webkit-background-clip: text;
}

.latest-header h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: 0;
  margin: 0;
  color: #6e6e73;
}

.scroll {
  overflow-x: auto; /* horizontal scroll here */
  width: 100%;
}

.prodcontainer {
  width: max-content;
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
}

.prodbox {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0px #00000014;
  background: center / cover no-repeat;
  position: relative;
}
.prodbox:nth-child(1) {
  background-image: url(./src/store/ip.jpg);
}
.prodbox:nth-child(2) {
  background-image: url(./src/store/watchst.jpg);
}
.prodbox:nth-child(3) {
  background-image: url(./src/store/ipadmini.jpg);
}
.prodbox:nth-child(4) {
  background-image: url(./src/store/macpro.jpg);
}

.prodbox-heading {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 322px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.prodbox-heading-inner {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
}

.prodbox-heading h1 {
  color: #b64400;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.prodbox-heading-inner h1 {
  color: #1d1d1f;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.2px;
}
.prodbox-heading-inner h2 {
  color: #1d1d1f;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0;
}

#applewatchsc {
  opacity: 0;
}

.personalisation {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* margin-top: 60px; */
  padding-left: 140px;
  padding-right: 140px;
  gap: 24px;
  overflow: hidden;
}

.prodbox-pers {
  width: 313px;
  height: 500px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0px #00000014;
  background: center / cover no-repeat;
  position: relative;
  background-color: #ffffff;
}
.prodbox-pers:nth-child(1) {
  background-image: url(./src/store/persona-intro.jpg);
  width: 400px;
  height: 500px;
}
.prodbox-pers:nth-child(1) h2 {
  position: absolute;
  top: 53px;
  left: 30px;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.2px;
}

.prodbox-pers-cont-img {
  width: 230px;
  height: 230px;
  position: absolute;
  top: 71px;
  left: 41.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prodbox-pers-cont-img img {
  width: 230px;
  height: 230px;
}
.coloroptions {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin-top: 25px;
}
.coloroptions img {
  width: 12px;
  height: 12px;
}

.prodbox-pers-cont-desc {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 359px;
  left: 28px;
  gap: 32px;
  width: 257px;
}
.prodbox-pers-cont-desc-heading {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.prodbox-pers-cont-desc-heading h3 {
  color: #b64400;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}
.prodbox-pers-cont-desc-heading h4 {
  color: #1d1d1f;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}
.prodbox-pers-cont-desc h5 {
  color: #1d1d1f;
  font-size: 14px;
  font-weight: 300;
}

#holidayintro {
  background-image: url(./src/store/prod/holidayintro.jpg);
  width: 400px;
  height: 500px;
}

.scroll-apple {
  overflow-x: auto; /* horizontal scroll here */
  width: 100%;
  display: flex;
  gap: 20px;
}

.prodbox-apple {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0px #00000014;
  background: center / cover no-repeat;
  position: relative;
}
.prodbox-apple:nth-child(1) {
  background-image: url(./src/store/onlyatapple-intro);
}
.prodbox-apple h2 {
  position: absolute;
  top: 50px;
  left: 30px;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.2px;
}
.prodcontainer .prodbox-apple:nth-of-type(4) {
  background-image: url(./src/store/tradein.jpg);
  background-color: #ffffff;
}
.prodcontainer .prodbox-apple:nth-of-type(4) h1 {
  color: #6e6e73;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  padding-top: 31px;
  padding-left: 30px;
}
.prodcontainer .prodbox-apple:nth-of-type(5) {
  background-image: url(./src/store/specialist.jpg);
  background-color: #ffffff;
}
.prodbox-apple:nth-child(3) {
  background-image: url(./src/store/onlyatapple-intro);
}
.prodbox-apple-small-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.prodbox-apple-small {
  width: 313px;
  height: 240px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0px #00000014;
  background: center / cover no-repeat;
  position: relative;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.prodbox-apple-small h1 {
  color: #1d1d1f;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
}

.box {
  width: 400px;
  height: 500px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0px #00000014;
  background: center / cover no-repeat;
}

.box-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 31px 30px;
}
.box:nth-child(1) {
  background-image: url(./src/store/exp-carreir.jpg);
}
.box:nth-child(2) {
  background-image: url(./src/store/exp-educ.jpg);
}
.box:nth-child(3) {
  background-image: url(./src/store/exp-refurb.jpg);
}
.box:nth-child(4) {
  background-image: url(./src/store/exp-bus.jpg);
}
.box:nth-child(5) {
  background-image: url(./src/store/exp-gov.jpg);
}
.box-content h3 {
  color: #6e6e73;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}
.box-content h4 {
  color: #1d1d1f;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
}

.box-content h5 {
  color: #1d1d1f;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
}

.box:nth-child(4) h4 {
  color: white;
}

.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* margin-top: 60px; */
  padding-left: 140px;
  padding-right: 140px;
  gap: 24px;
  overflow: hidden;
}

.footer-header {
  display: flex;
  gap: 4px;
  align-items: center;
}

.footer-header h2 {
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0;
  margin: 0;
  color: #1d1d1f;
}

.footer-foot {
  display: flex;
  gap: 12px;
}

.footer-box {
  padding: 10px 12px;
  border-radius: 9999px;
  border: 1px solid #1d1d1f;
  display: flex;
  gap: 8px;
}
