* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: auto;
  font-family: "Inter";
  margin: 0;
  border: 0;
  font-optical-sizing: auto;
  /* font-weight: 400;
  font-style: normal; */
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
} */

.header {
  width: 100%;
  height: 44px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-size: 12px;
  font-weight: 300;
  line-height: 60px;
  letter-spacing: -0.28px;
  background-color: hsla(240, 11%, 96%, 0.8);
}
.header img[alt="search"] {
  width: 12.97px;
  height: 15.94px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donation {
  width: 100%;
  background-color: #fff;
  padding: 16px 0;
}

.donation p {
  text-align: center;
  font-size: 14px;
}

.hero {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.imgtext {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  padding-top: 55px;
  gap: 16px;
}
.imgtextheader {
  gap: 16px;
}
.imgtextheader h1 {
  font-weight: 600;
  font-size: 52px;
  line-height: 60px;
  letter-spacing: -0.28px;
  text-align: center;
  margin: 0;
  padding: 0 0 16px 0;
}
.imgtextheader h2 {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  margin: 0;
}
.imgtext-sub {
  display: flex;
  gap: 10px;
}
.herobutton1 {
  background-color: #0071e3;
  border-radius: 9999px;
  border: transparent;
  padding: 12px 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.37px;
  text-align: center;
}
.herobutton2 {
  border: 1px solid #2997ff;
  background-color: transparent;
  border-radius: 9999px;
  padding: 12px 20px;
  color: #2997ff;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.37px;
  text-align: center;
}

.heroimg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 692px;
  position: relative;
}

.heroimg:nth-child(1) {
  color: #f5f5f7;
  background-image: url(./src/img/iphone16-1.png);
}

.heroimg:nth-child(2) {
  color: #f5f5f7;
  background-image: url(./src/img/iphone16-2.png);
}
.heroimg:nth-child(3) {
  color: #000000;
  background-image: url(./src/img/giftmagic.png);
}

.imgtextfooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 446px;
  gap: 16px;
}
.imgtextfooterfoot h1 {
  font-weight: 600;
  font-size: 52px;
  line-height: 60px;
  letter-spacing: -0.28px;
  text-align: center;
  margin: 0;
  padding: 0 0 16px 0;
}
.imgtextfooterfoot h2 {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  margin: 0;
}

.imgtextfootersub {
  display: flex;
  gap: 10px;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;
  margin-bottom: 12px;
}

.productbox {
  position: relative;
  width: 50vw;
  height: 580px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.productheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 58px;
  gap: 16px;
}
.producttextheader h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin: 0;
  /* padding: 0 0 16px 0; */
}
.producttextheader h2 {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
  margin: 0;
}
.producttext-sub {
  display: flex;
  gap: 10px;
}

#gradient1 {
  position: absolute;
  top: 0px;
  padding-top: 509px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  margin: 0;
  background: #0090f7;
  background: linear-gradient(
    90deg,
    rgba(0, 144, 247, 1) 0%,
    rgba(186, 98, 252, 1) 33%,
    rgba(242, 65, 107, 1) 66%,
    rgba(245, 86, 0, 1) 100%
  );
  background-clip: text;
  color: transparent;
}
.productfooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 401px;
  gap: 16px;
}
.productfooterfoot h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin: 0;
  /* padding: 0 0 16px 0; */
}
.productfooterfoot h2 {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
  margin: 0;
}
.prodbutton1 {
  background-color: #0071e3;
  border-radius: 9999px;
  border: transparent;
  padding: 10px 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.37px;
  text-align: center;
}
.prodbutton2 {
  border: 1px solid #2997ff;
  background-color: transparent;
  border-radius: 9999px;
  padding: 12px 20px;
  color: #2997ff;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.37px;
  text-align: center;
}

.watch {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
}
.watch-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
  width: 322px;
}
.watch-header h2 {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0 0 4px 0;
  color: #000000;
  letter-spacing: 2px;
}
.watch-header h3 {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  color: #1d1d1f;
}
.watch-name {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.watch-name h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  margin: 0;
  padding: 0 0 8px 0;
  color: #000000;
}
.watch-name img {
  width: 26.35px;
  height: 32px;
}

#macbookheader {
  padding-top: 48px;
  gap: 10px;
}
#macbookheadertext h1 {
  padding-bottom: 0;
}
.productbox:nth-child(1) {
  background-image: url(./src/img/ipadair.png);
  background-color: #f5f5f7;
  display: flex;
  justify-content: center;
}
.productbox:nth-child(2) {
  background-image: url(./src/img/airpodspro2.png);
  background-color: #f5f5f7;
  color: white;
}
.productbox:nth-child(3) {
  grid-row-start: 2;
  background-image: url(./src/img/watch.png);
  background-color: #f5f5f7;
  color: white;
}
.productbox:nth-child(4) {
  grid-row-start: 2;
  background-image: url(./src/img/macbookair.png);
  background-color: #f5f5f7;
  color: #1d1d1f;
}
.productbox:nth-child(5) {
  grid-row-start: 3;
  background-image: url(./src/img/tradein.png);
  background-color: #f5f5f7;
  color: #1d1d1f;
}
.productbox:nth-child(6) {
  grid-row-start: 3;
  background-image: url(./src/img/applecard.png);
  background-color: #f5f5f7;
  color: #1d1d1f;
}

.scrollbar {
  width: 100vw;
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  gap: 16px;
}
.mov {
  width: 1250px;
  height: 668px;
  color: white;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
  background: var(--background-image) center / cover no-repeat;
  display: flex;
  flex-direction: column;
  position: relative;
}

.stream {
  position: absolute;
  font-size: 17px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: -0.37;
  border-radius: 9999px;
  padding: 12px 20px;
  background-color: #f5f5f7;
}
.desc {
  font-size: 17px;
  font-weight: 300;
}
.mov:nth-child(1) {
  background-image: url(./src/img/movies/1.png);
}
.mov:nth-child(2) {
  background-image: url(./src/img/movies/2.jpg);
}
.mov:nth-child(3) {
  background-image: url(./src/img/movies/3.jpg);
}
.mov:nth-child(4) {
  background-image: url(./src/img/movies/4.jpg);
}
.mov:nth-child(5) {
  background-image: url(./src/img/movies/5.jpg);
}
.mov:nth-child(6) {
  background-image: url(./src/img/movies/6.jpg);
}
.mov:nth-child(7) {
  background-image: url(./src/img/movies/7.jpg);
}
.mov:nth-child(8) {
  background-image: url(./src/img/movies/8.jpg);
}
.mov:nth-child(9) {
  background-image: url(./src/img/movies/9.jpg);
}
.mov:nth-child(10) {
  background-image: url(./src/img/movies/10.jpg);
}
