* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: auto;
  font-family: "Inter";
  margin: 0;
  border: 0;
  font-optical-sizing: auto;
}

.header {
  width: 100%;
  height: 44px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-size: 12px;
  font-weight: 300;
  line-height: 60px;
  letter-spacing: -0.28px;
  background-color: hsla(240, 11%, 96%, 0.8);
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 24px;
  margin-left: 24px;
}

.icons img[alt="menu"] {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donation {
  width: 100%;
  background-color: #fff;
  padding: 16px 0;
}

.donation p {
  text-align: center;
  font-size: 14px;
}

.hero {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.imgtext {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  padding-top: 55px;
  gap: 16px;
}
.imgtextheader {
  gap: 16px;
}
.imgtextheader h1 {
  font-weight: 600;
  font-size: 52px;
  line-height: 60px;
  letter-spacing: -0.28px;
  text-align: center;
  margin: 0;
  padding: 0 0 16px 0;
}
.imgtextheader h2 {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  margin: 0;
}
.imgtext-sub {
  display: flex;
  gap: 10px;
}
.herobutton1 {
  background-color: #0071e3;
  border-radius: 9999px;
  border: transparent;
  padding: 12px 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.37px;
  text-align: center;
}
.herobutton2 {
  border: 1px solid #2997ff;
  background-color: transparent;
  border-radius: 9999px;
  padding: 12px 20px;
  color: #2997ff;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.37px;
  text-align: center;
}

.heroimg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 692px;
  position: relative;
}

.heroimg:nth-child(1) {
  color: #f5f5f7;
  background-image: url(./src/img/iphone16-1.png);
}

.heroimg:nth-child(2) {
  color: #f5f5f7;
  background-image: url(./src/img/iphone16-2.png);
}
.heroimg:nth-child(3) {
  color: #000000;
  background-image: url(./src/img/giftmagic.png);
}

.imgtextfooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 446px;
  gap: 16px;
}
.imgtextfooterfoot h1 {
  font-weight: 600;
  font-size: 52px;
  line-height: 60px;
  letter-spacing: -0.28px;
  text-align: center;
  margin: 0;
  padding: 0 0 16px 0;
}
.imgtextfooterfoot h2 {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  margin: 0;
}

.imgtextfootersub {
  display: flex;
  gap: 10px;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;
  margin-bottom: 12px;
}

.productbox {
  position: relative;
  width: 50vw;
  height: 580px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.productheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 58px;
  gap: 16px;
}
.producttextheader h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin: 0;
  /* padding: 0 0 16px 0; */
}
.producttextheader h2 {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
  margin: 0;
}
.producttext-sub {
  display: flex;
  gap: 10px;
}

#gradient1 {
  position: absolute;
  top: 0px;
  padding-top: 509px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  margin: 0;
  background: #0090f7;
  background: linear-gradient(
    90deg,
    rgba(0, 144, 247, 1) 0%,
    rgba(186, 98, 252, 1) 33%,
    rgba(242, 65, 107, 1) 66%,
    rgba(245, 86, 0, 1) 100%
  );
  background-clip: text;
  color: transparent;
}
.productfooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 401px;
  gap: 16px;
}
.productfooterfoot h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin: 0;
  /* padding: 0 0 16px 0; */
}
.productfooterfoot h2 {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
  margin: 0;
}
.prodbutton1 {
  background-color: #0071e3;
  border-radius: 9999px;
  border: transparent;
  padding: 10px 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.37px;
  text-align: center;
}
.prodbutton2 {
  border: 1px solid #2997ff;
  background-color: transparent;
  border-radius: 9999px;
  padding: 12px 20px;
  color: #2997ff;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.37px;
  text-align: center;
}

.watch {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
}
.watch-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
  width: 322px;
}
.watch-header h2 {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0 0 4px 0;
  color: #000000;
  letter-spacing: 2px;
}
.watch-header h3 {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  color: #1d1d1f;
}
.watch-name {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.watch-name h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  margin: 0;
  padding: 0 0 8px 0;
  color: #000000;
}
.watch-name img {
  width: 26.35px;
  height: 32px;
}

#macbookheader {
  padding-top: 48px;
  gap: 10px;
}
#macbookheadertext h1 {
  padding-bottom: 0;
}
.productbox:nth-child(1) {
  background-image: url(./src/img/ipadair.png);
  background-color: #f5f5f7;
  display: flex;
  justify-content: center;
}
.productbox:nth-child(2) {
  background-image: url(./src/img/airpodspro2.png);
  background-color: #f5f5f7;
  color: white;
}
.productbox:nth-child(3) {
  grid-row-start: 2;
  background-image: url(./src/img/watch.png);
  background-color: #f5f5f7;
  color: white;
}
.productbox:nth-child(4) {
  grid-row-start: 2;
  background-image: url(./src/img/macbookair.png);
  background-color: #f5f5f7;
  color: #1d1d1f;
}
.productbox:nth-child(5) {
  grid-row-start: 3;
  background-image: url(./src/img/tradein.png);
  background-color: #f5f5f7;
  color: #1d1d1f;
}
.productbox:nth-child(6) {
  grid-row-start: 3;
  background-image: url(./src/img/applecard.png);
  background-color: #f5f5f7;
  color: #1d1d1f;
}
.productbox:nth-child(7) {
  grid-row-start: 3;
  background-image: url(./src/icons/responsive/pods4.jpg);
  background-color: #f5f5f7;
  color: #f5f5f7;
  display: none;
}
.productbox:nth-child(8) {
  display: none;
  grid-area: e;
  background-image: url(./src/icons/responsive/smallb.png);
}

.productbox:nth-child(9) {
  display: none;
  grid-area: f;
  background-image: url(./src/icons/responsive/carrier.jpg);
}

.scrollbar {
  width: 100vw;
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  gap: 16px;
}
.mov {
  width: 1250px;
  height: 668px;
  color: white;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
  background: var(--background-image) center / cover no-repeat;
  display: flex;
  /* flex-direction: column; */
}

.stream {
  position: absolute;
  font-size: 17px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: -0.37;
  border-radius: 9999px;
  border: 0px transparent;
  padding: 12px 20px;
  background-color: #f5f5f7;
  top: 566px;
  left: 70px;
}
.desc {
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  position: absolute;
  text-shadow: 0px 0px 5px #00000099;
  background-clip: text;
  top: 575px;
  left: 223px;
  margin: 0;
  text-align: center;
}
.mov:nth-child(1) {
  background-image: url(./src/img/movies/1.png);
}
.mov:nth-child(2) {
  background-image: url(./src/img/movies/2.jpg);
}
.mov:nth-child(3) {
  background-image: url(./src/img/movies/3.jpg);
}
.mov:nth-child(4) {
  background-image: url(./src/img/movies/4.jpg);
}
.mov:nth-child(5) {
  background-image: url(./src/img/movies/5.jpg);
}
.mov:nth-child(6) {
  background-image: url(./src/img/movies/6.jpg);
}
.mov:nth-child(7) {
  background-image: url(./src/img/movies/7.jpg);
}
.mov:nth-child(8) {
  background-image: url(./src/img/movies/8.jpg);
}
.mov:nth-child(9) {
  background-image: url(./src/img/movies/9.jpg);
}
.mov:nth-child(10) {
  background-image: url(./src/img/movies/10.jpg);
}

img[alt="tablist"] {
  width: 220px;
  height: 8px;
  margin-top: 14px;
  display: flex;
  justify-self: center;
}

.services-wrapper {
  width: 100%;
  overflow: hidden;
}

.services {
  margin-top: 14px;
  width: max-content;
  height: auto;
  gap: 16px;
  display: flex;
  animation: scroll 15s linear infinite;
  white-space: nowrap;
  will-change: transform;
  transition: filter 0.3s ease;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.servicesbox {
  position: relative;
  background: var(--background-image) center / cover no-repeat;
  width: 417px;
  height: 236px;
  display: flex;
  flex-shrink: 0;
  transition: filter 0.3s ease;
  filter: none;
}

.services:hover {
  animation-play-state: paused;
}

.services:hover .servicesbox {
  filter: grayscale(100%);
}
.services .servicesbox:hover {
  filter: grayscale(0%);
  filter: brightness(50%);
}
.servicebutton:hover {
  filter: none;
  opacity: 1;
}
.servicebutton {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 3;
  opacity: 0;
}

.sliderbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 1;
  margin-top: 20px;
  padding: 7px 15px;
  border: transparent;
  border-radius: 999px;
  background-color: white;
  opacity: 1;
}

.servdesc {
  position: absolute;
  /* top: 177px; */
  width: 100%;
  left: 0;
}

.servdesc h2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.22px;
  position: absolute;
  top: 177px;
  left: 15px;
}
.servdesc img {
  position: absolute;
  top: 198px;
  left: 324px;
}
.servicebutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicesbox:nth-child(1) {
  color: #ffffff;
  background-image: url(./src/img/services/pilates.png);
}
.servicesbox:nth-child(2) {
  /* color: #ffffff; */
  background-color: #1b2632;
  color: white;
}
.servicesbox:nth-child(3) {
  color: #ffffff;
  background-image: url(./src/img/services/nba.jpg);
}
.servicesbox:nth-child(4) {
  color: #ffffff;
  background-image: url(./src/img/services/strengthkim.jpg);
}
.servicesbox:nth-child(5) {
  background-color: #ebb799;
  color: white;
}
.servicesbox:nth-child(6) {
  color: #ffffff;
  background-image: url(./src/img/services/pilates.png);
}
.servicesbox:nth-child(7) {
  /* color: #ffffff; */
  background-color: #1b2632;
  color: white;
}
.servicesbox:nth-child(8) {
  color: #ffffff;
  background-image: url(./src/img/services/nba.jpg);
}
.servicesbox:nth-child(9) {
  color: #ffffff;
  background-image: url(./src/img/services/strengthkim.jpg);
}
.servicesbox:nth-child(10) {
  background-color: #ebb799;
  color: white;
}

img[alt="rnb"] {
  width: 196px;
  height: 196px;
  position: absolute;
  top: 20px;
  left: 15px;
  border-radius: 8px;
}

img[alt="notrnb"] {
  width: 196px;
  height: 196px;
  position: absolute;
  top: 20px;
  left: 15px;
  border-radius: 8px;
}

#rnbnow {
  position: absolute;
  top: 109px;
  left: 226px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.22px;
}

@media (max-width: 768px) {
  .header img[alt="menu"] {
    display: block;
  }
  .header p {
    display: none;
  }
  .header {
    justify-content: space-between;
    padding: 0 16px;
  }
  .heroimg:nth-child(1) {
    color: #f5f5f7;
    background-image: url(./src/icons/responsive/16pro.png);
  }
  .heroimg:nth-child(2) {
    color: #f5f5f7;
    background-image: url(./src/icons/responsive/16.jpg);
  }
  .heroimg:nth-child(3) {
    display: none;
  }

  .donation p {
    padding: 16px 10px;
    margin: 0;
    font-weight: 300;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;
    margin-bottom: 12px;

    grid-template-areas:
      "a a"
      "b c"
      "d e"
      "f g";
  }
  .products {
    gap: 12px;
    grid-auto-rows: 490px;
  }
  .productbox {
    display: flex;
    justify-content: center;
  }
  .productheader {
    width: 257px;
  }
  #airpodsdaa {
    width: 241px;
    padding-top: 287px;
  }
  #carriersda {
    width: 314px;
    padding-top: 296px;
  }
  .productfooterfoot h1 {
    font-size: 30px;
    line-height: 36px;
    padding: 0 0 16px 0;
  }
  .productbox:nth-child(1) {
    grid-area: a;
    width: 100vw;
  }
  .productbox:nth-child(2) {
    display: none;
    grid-area: b;
  }
  .productbox:nth-child(3) {
    grid-area: c;
    background-image: url(./src/icons/responsive/watch.jpg);
  }
  .productbox:nth-child(4) {
    grid-area: d;
  }
  .productbox:nth-child(5) {
    background-image: url(./src/icons/responsive/trade.jpg);
    grid-area: g;
  }
  .productbox:nth-child(6) {
    display: none;
  }
  .productbox:nth-child(7) {
    display: flex;
    grid-area: b;
    text-align: center;
  }
  .productbox:nth-child(8) {
    display: flex;
    grid-area: e;
  }
  .productbox:nth-child(9) {
    display: flex;
    grid-area: f;
  }

  .mov {
    width: 689px;
    height: 368px;
    background: center / cover no-repeat;
  }
}

@media (max-width: 390px) {
  .heroimg {
    display: flex;
  }
  .heroimg:nth-child(1) {
    color: #f5f5f7;
    background-image: url(./src/icons/responsive/mobile/16pro.jpg);
    align-items: flex-end;
    justify-content: center;
  }
  .heroimg:nth-child(2) {
    color: #f5f5f7;
    background-image: url(./src/icons/responsive/mobile/16.jpg);
    justify-content: center;
  }
  .heroimg:nth-child(3) {
    display: none;
  }
  .imgtext {
    width: 241px;
    padding: 50px 0 36px 0;
  }
  .imgtextheader h1 {
    font-size: 30px;
    line-height: 36px;
    padding: 0 0 8px 0;
  }
  .imgtextheader h2 {
    font-size: 18px;
    line-height: 120%;
  }
  .herobutton1,
  .herobutton2 {
    font-weight: 100;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 12px;
    margin-bottom: 12px;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "g";
  }
  .productbox {
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: center;
  }
  .productbox:nth-child(1) .productheader {
    padding-top: 36px;
  }
  #gradient1 {
    padding-top: 446px;
  }
  .productbox:nth-child(1) {
    grid-area: a;
    width: 100vw;
    display: flex;
    margin-bottom: 12px;
  }
  .productbox:nth-child(2) {
    display: none;
    grid-area: b;
  }
  .productbox:nth-child(3) {
    grid-area: c;
    background-image: url(./src/icons/responsive/watch.jpg);
  }
  .productbox:nth-child(4) {
    grid-area: d;
  }
  .productbox:nth-child(5) {
    background-image: url(./src/icons/responsive/trade.jpg);
    grid-area: g;
  }
  .productbox:nth-child(6) {
    display: none;
  }
  .productbox:nth-child(7) {
    display: flex;
    grid-area: b;
    text-align: center;
    margin-top: 12px;
  }
  .productbox:nth-child(8) {
    display: flex;
    grid-area: e;
  }
  .productbox:nth-child(9) {
    display: flex;
    grid-area: f;
  }
  .mov {
    width: 274px;
    height: 495px;
    background: center / cover no-repeat;
  }
  .mov:nth-child(1) {
    background-image: url(./src/icons/responsive/mobile/mov1.jpg);
  }
  .mov:nth-child(2) {
    background-image: url(./src/icons/responsive/mobile/mov2.jpg);
  }
  .mov:nth-child(3) {
    background-image: url(./src/icons/responsive/mobile/mov3.jpg);
  }
  .mov:nth-child(4) {
    background-image: url(./src/icons/responsive/mobile/mov4.jpg);
  }
  .mov:nth-child(5) {
    background-image: url(./src/icons/responsive/mobile/mov5.jpg);
  }
  .mov:nth-child(6) {
    background-image: url(./src/icons/responsive/mobile/mov6.jpg);
  }
  .mov:nth-child(7) {
    background-image: url(./src/icons/responsive/mobile/mov7.jpg);
  }
  .mov:nth-child(8) {
    background-image: url(./src/icons/responsive/mobile/mov8.jpg);
  }
  .mov:nth-child(9) {
    background-image: url(./src/icons/responsive/mobile/mov9.jpg);
  }
  .mov:nth-child(10) {
    background-image: url(./src/icons/responsive/mobile/mov10.jpg);
  }

  /* .servicesbox {
    width: 238px;
    height: 160px;
    background-size: 238px 134px;
    background-repeat: no-repeat;
    background-position: top;
    color: black;
  } */
  .servicesbox {
    width: 238px;
    height: 160px;
    background-size: 238px 134px;
    background-repeat: no-repeat;
    background-position: top;
  }
  .services {
    gap: 12px;
    margin-bottom: 14px;
  }
  .servicebutton img {
    width: 114px;
    height: 114px;
  }
  .servicebutton h2 {
    display: none;
  }
  #rnbnow {
    display: none;
  }
  img[alt="rnb"] {
    width: 114px;
    height: 114px;

    border-radius: 8px;
  }
  img[alt="notrnb"] {
    width: 114px;
    height: 114px;
    position: absolute;
    top: 20px;
    left: 15px;
    border-radius: 8px;
  }
}
